.text{
    font-size: 2rem;
    &__primary{
        color: var(--text-color);
    }
    &__secondary{
        color: var(--background-color);
    }
}

.greenText{
    color: green;
    font-size: 1.5rem;
}