.heroInfo{
    color: var(--white);
    align-self: flex-start;
}
.heroTitle{
    font-size: 4rem;
}
.heroImage{
    border-radius: 1rem;
    overflow: hidden;
    img{
        width: 100%;
        height: auto;
    }
}
.heroButtons{
    gap: 2rem;
    margin: 2rem 0;
}

@media screen and (min-width: 768px) {
    .heroTitle{
        font-size: 6rem;
    }
    .heroInfo{
        align-self: unset;
    }
}