.input{
    border: 2px solid var(--primary-color);
    background-color: var(--text-color-light);
    padding: 1rem;
    font-size: 1.5rem;
    outline: none;
    border-radius: .5rem;
    color: var(--background-color);
    font-family: "Inter";
    text-transform: uppercase;
    margin: 2rem 0;
}